<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grade form</title>
    <th:block th:replace="fragments :: styles"/>
</head>
<body>
<div th:replace="fragments :: navigator"></div>

<div class="container">
    <div class="row">
        <h1>Formularz oceny dla studenta: <span th:text="${studentId}"></span></h1>
    </div>
    <div class="row">
        <form th:action="@{/grade/add}" th:method="post" th:object="${newGrade}">
            <input type="hidden" name="studentGraded" th:value="${studentId}">

            <!--dodajemy pole które jest ukryte tylko po to by się nie wyzerowało
                to pole wypełni się starą wartością, i ta sama wartość zostanie dalej wysłana do zapisu.-->
            <input type="hidden" th:field="*{dataDodania}">
            <input type="hidden" th:field="*{id}">
            Przedmiot:
            <select th:field="*{przedmiot}">
                <option th:each="przed : ${przedmioty}"
                        th:value="${przed}"
                        th:text="${przed.getOpis()}">
                </option>
            </select>
            <br/>
            Ocena: <input type="number" step="0.5" min="1" max="6" th:field="*{ocena}"/>
            <br/>
            <input type="submit">
        </form>
    </div>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>