<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <th:block th:replace="fragments :: styles"/>
</head>
<body>
<!--Wklejam navigator-->
<div th:replace="fragments :: navigator"></div>
<h1>Student List</h1>
<br/>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Wzrost</th>
        <th>Pelnoletni</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${listOfStudents}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.imie}"></td>
        <td th:text="${student.nazwisko}"></td>
        <td th:text="${student.wzrost}"></td>
        <td th:text="${student.pelnoletni}"></td>
        <td>
            <a th:href="@{/student/edit(stud_id=${student.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/student/edit/'+${student.id}}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/student/delete/'+${student.id}}">Delete</a>
        </td>
        <td>
            <a th:href="@{/student/details(studentIdentifier=${student.id})}">Details</a>
        </td>
    </tr>
    </tbody>
</table>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>